body {
	font-family: Arial;
	color: slategray;
}

h1 {
	font-size: 300%;	
}

h1, h2 {
	color: rgb(173, 194, 79);
	text-transform: uppercase;
	font-weight: 100;
}

img {
	width: 100%;
}

.container {
    display: flex;
}

.box {
    font-size: 15px;
    text-align: center;
    padding: 7px;
    /* width: 50%; */
    margin: 10px;
    background-color: rgb(173, 194, 79);
}

footer {
    margin-top: 70px;
    background-color: rgb(173, 194, 79);
    color: white;
}

footer p {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}